body, html, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* 스크롤바를 없애기 위해 설정 */
}

.image-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* 전체 화면을 채우도록 설정 */
  margin: 0;
  padding: 0;
}

.image-item {
  position: relative;
  width: 100%;
  height: 33.33vh; /* 각 이미지가 정확히 화면의 1/3씩 차지하도록 설정 */
  margin: 0;
  padding: 0;
}

.image-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지가 잘리지 않도록 설정 */
  transition: transform 0.3s ease; /* 확대 애니메이션 속성 추가 */
  display: block;
  margin: 0;
  padding: 0;
}

.image-item img:hover,
.image-item img:active {
  transform: scale(1.07); /* 마우스 오버 또는 터치 시 이미지 확대 */
  z-index: 1; /* 확대된 이미지가 다른 이미지 위로 오도록 설정 */
}

.inven-container {
  position: absolute;
  top: 10px;
  left: 40px; /* 이미지를 더 오른쪽으로 이동 */
  z-index: 3;
  width: auto; /* 컨테이너의 크기를 자동으로 조정 */
  height: auto; /* 컨테이너의 높이를 자동으로 조정 */
  overflow: visible; /* 이미지가 잘리지 않도록 설정 */
}

.inven-container img {
  width: 80px; /* 기본 이미지 크기 */
  height: auto; /* 이미지의 높이를 자동으로 조정 */
  transition: transform 0.3s ease;
}

.inven-container img:hover {
  transform: scale(1.1);
}

.text-container {
  position: absolute;
  top: 20%;
  left: 70%;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
  font-size: 12px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5); /* 배경을 반투명하게 설정하여 가독성 증가 */
  padding: 1px 5px;
  border-radius: 5px;
  text-align: left;
}

/* 모바일에서 각각의 텍스트 스타일 설정 */
@media (max-width: 768px) {
  .bdo-text {
    top: 45%;
    left: 10%;
    font-size: 14px;
    padding: 8px 12px;
  }

  .fst-text {
    top: 50%;
    left: 5%;
    font-size: 14px;
    padding: 10px 15px;
  }

  .loa-text {
    top: 40%;
    left: 15%;
    font-size: 14px;
    padding: 12px 18px;
  }

  .inven-container img {
    width: 100px !important; /* 모바일에서 이미지 크기를 강제로 설정 */
    height: auto;
  }
}

@media (max-width: 480px) {
  .bdo-text {
    top: 75%;
    left: 2%;
    font-size: 12px;
    padding: 6px 10px;
  }

  .fst-text {
    top: 50%;
    left: 10%;
    font-size: 12px;
    padding: 7px 11px;
  }

  .loa-text {
    top: 45%;
    left: 10%;
    font-size: 12px;
    padding: 8px 12px;
  }

  .inven-container {
    left: 15px; /* 모바일에서도 오른쪽으로 이동 */
  }

  .inven-container img {
    width: 50px !important; /* 모바일에서 이미지 크기를 강제로 설정 */
    height: auto;
  }
}